In [1]:
import sys

sys.path.append("../")

In [2]:
from src.text_to_sql import Postgre_VectorStore, Groq_Chat
from src.settings import settings

c:\Users\80124045\AppData\Local\miniconda3\envs\raia-env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
config = {
    "api_key": settings.groq_api_key,
    "model": "llama-3.1-8b-instant",
    "database_url": settings.postgres_url,
    "embedding_model": "sentence-transformers/all-MiniLM-L6-v2"
}

class VannaGroq(Postgre_VectorStore, Groq_Chat):

    def __init__(self, config=None):
        
        Postgre_VectorStore.__init__(self, config=config)
        Groq_Chat.__init__(self, config=config)


vn = VannaGroq(config=config)

VectorStore bound to postgresql://myuser:mypassword@localhost:5432/postgres

In [4]:
from urllib.parse import urlparse

parsed_url = urlparse(settings.postgres_url)
vn.connect_to_postgres(
    host=parsed_url.hostname, 
    dbname=parsed_url.path[1:], 
    user=parsed_url.username, 
    password=parsed_url.password, 
    port=parsed_url.port
)

In [5]:
vn.run_sql("SELECT * FROM fraud_data LIMIT 3")

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-09-05 12:16:08,4410582919485061752,fraud_Friesen Ltd,health_fitness,2.81,David,Cole,M,7955 Allen Orchard Apt. 336,Springfield,...,32.3697,-81.3618,9034,"Therapist, occupational",1969-03-02,2a2905ca7bbac865a8212f942831094f,1378383368,31.649110,-81.922042,False
1,2020-08-16 21:57:53,30551643947183,fraud_Morissette PLC,shopping_pos,2.78,Morgan,Smith,F,1441 Bradley Place,Grover,...,35.1836,-81.4552,5621,Toxicologist,1973-11-14,9983d4c6a4d15774ffec9d2999d578ae,1376690273,34.717705,-81.627907,False
2,2020-07-23 00:49:26,630451534402,fraud_Kuvalis Ltd,gas_transport,53.64,Rachel,Daniels,F,561 Little Plain Apt. 738,Wetmore,...,46.3535,-86.6345,765,Immunologist,1972-06-12,f598c71191a3ca4e78e8cc3083dcf8d1,1374540566,45.776930,-86.230599,False

# 'Train' the vanna (not actually training, just stacking information as a sql pair and vector)

In [6]:
vn.train(ddl="""
CREATE TABLE public.fraud_data (
	trans_date_trans_time timestamp NULL,
	cc_num int8 NULL,
	merchant text NULL,
	category text NULL,
	amt float8 NULL,
	"first" text NULL,
	"last" text NULL,
	gender text NULL,
	street text NULL,
	city text NULL,
	state text NULL,
	zip int8 NULL,
	lat float8 NULL,
	long float8 NULL,
	city_pop int8 NULL,
	job text NULL,
	dob text NULL,
	trans_num text NULL,
	unix_time int8 NULL,
	merch_lat float8 NULL,
	merch_long float8 NULL,
	is_fraud bool NULL
)
""")

Adding ddl:
CREATE TABLE public.fraud_data (
	trans_date_trans_time timestamp NULL,
	cc_num int8 NULL,
	merchant text NULL,
	category text NULL,
	amt float8 NULL,
	"first" text NULL,
	"last" text NULL,
	gender text NULL,
	street text NULL,
	city text NULL,
	state text NULL,
	zip int8 NULL,
	lat float8 NULL,
	long float8 NULL,
	city_pop int8 NULL,
	job text NULL,
	dob text NULL,
	trans_num text NULL,
	unix_time int8 NULL,
	merch_lat float8 NULL,
	merch_long float8 NULL,
	is_fraud bool NULL
)

In [7]:
vn.train(documentation="This is a simulated credit card transaction dataset containing legitimate and fraud transactions from the duration 1st Jan 2019 - 31st Dec 2020. It covers credit cards of 1000 customers doing transactions with a pool of 800 merchants.")

Adding documentation....

In [8]:
training_data = [
    {
        "question": "How many transactions are there?",
        "sql": """
            SELECT COUNT(*) AS total_tx
            FROM public.fraud_data;
        """
    },
    {
        "question": "How many unique card numbers and merchants?",
        "sql": """
            SELECT COUNT(DISTINCT cc_num) AS cards,
                   COUNT(DISTINCT merchant) AS merchants
            FROM public.fraud_data;
        """
    },
    {
        "question": "What is the overall fraud rate?",
        "sql": """
            SELECT AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate
            FROM public.fraud_data;
        """
    },
    {
        "question": "What is the daily fraud rate over the last two years?",
        "sql": """
            WITH bounds AS (
                SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt
                FROM public.fraud_data
            )
            SELECT date_trunc('day', trans_date_trans_time)::date AS day,
                COUNT(*) AS n_tx,
                AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate
            FROM public.fraud_data f
            JOIN bounds b ON f.trans_date_trans_time >= b.start_dt
            GROUP BY 1
            ORDER BY 1;
        """
    },
    {
        "question": "What is the monthly fraud rate over the last two years?",
        "sql": """
            WITH bounds AS (
                SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt
                FROM public.fraud_data
            )
            SELECT date_trunc('month', trans_date_trans_time)::date AS month,
                COUNT(*) AS n_tx,
                SUM((is_fraud)::int) AS fraud_tx,
                AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate
            FROM public.fraud_data f
            JOIN bounds b ON f.trans_date_trans_time >= b.start_dt
            GROUP BY 1
            ORDER BY 1;
        """
    },
    {
        "question": "Which merchants have the highest number of fraudulent transactions?",
        "sql": """
            SELECT merchant,
                   COUNT(*) AS n_tx,
                   SUM((is_fraud)::int) AS fraud_tx,
                   (SUM((is_fraud)::int)::float / COUNT(*)) AS fraud_rate
            FROM public.fraud_data
            GROUP BY merchant
            HAVING COUNT(*) >= 100
            ORDER BY fraud_tx DESC
            LIMIT 20;
        """
    },
    {
        "question": "Which merchant categories have the highest fraud rate?",
        "sql": """
            SELECT category,
                   COUNT(*) AS n_tx,
                   AVG((is_fraud)::int) AS fraud_rate
            FROM public.fraud_data
            GROUP BY category
            HAVING COUNT(*) >= 1000
            ORDER BY fraud_rate DESC
            LIMIT 20;
        """
    },
    {
        "question": "How much higher are fraud rates when the transaction counterpart is located far away (proxy for outside EEA)?",
        "sql": """
            WITH dist AS (
              SELECT is_fraud,
                     6371 * acos(
                       cos(radians(lat)) * cos(radians(merch_lat)) *
                       cos(radians(merch_long) - radians(long)) +
                       sin(radians(lat)) * sin(radians(merch_lat))
                     ) AS km
              FROM public.fraud_data
              WHERE lat IS NOT NULL AND long IS NOT NULL
                AND merch_lat IS NOT NULL AND merch_long IS NOT NULL
            )
            SELECT CASE
                     WHEN km >= 1000 THEN 'outside_region'
                     ELSE 'inside_region'
                   END AS region_flag,
                   COUNT(*) AS n_tx,
                   AVG((is_fraud)::int) AS fraud_rate
            FROM dist
            GROUP BY 1
            ORDER BY 1;
        """
    },
    {
        "question": "What share of total fraud value in H1 2023 was due to cross-border transactions (proxy via distance)?",
        "sql": """
            WITH base AS (
              SELECT *,
                     6371 * acos(
                       cos(radians(lat)) * cos(radians(merch_lat)) *
                       cos(radians(merch_long) - radians(long)) +
                       sin(radians(lat)) * sin(radians(merch_lat))
                     ) AS km
              FROM public.fraud_data
              WHERE trans_date_trans_time >= DATE '2023-01-01'
                AND trans_date_trans_time <  DATE '2023-07-01'
                AND is_fraud = TRUE
            )
            SELECT SUM(CASE WHEN km >= 1000 THEN amt ELSE 0 END) / SUM(amt) AS share_cross_border
            FROM base;
        """
    }
]

for item in training_data:
    vn.train(question=item["question"], sql=item["sql"])

In [9]:
result = vn.generate_sql("What is the monthly fraud rate over the last two years?", allow_llm_to_see_data=True)

SQL Prompt: [{'role': 'system', 'content': 'You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE public.fraud_data (\n\ttrans_date_trans_time timestamp NULL,\n\tcc_num int8 NULL,\n\tmerchant text NULL,\n\tcategory text NULL,\n\tamt float8 NULL,\n\t"first" text NULL,\n\t"last" text NULL,\n\tgender text NULL,\n\tstreet text NULL,\n\tcity text NULL,\n\tstate text NULL,\n\tzip int8 NULL,\n\tlat float8 NULL,\n\tlong float8 NULL,\n\tcity_pop int8 NULL,\n\tjob text NULL,\n\tdob text NULL,\n\ttrans_num text NULL,\n\tunix_time int8 NULL,\n\tmerch_lat float8 NULL,\n\tmerch_long float8 NULL,\n\tis_fraud bool NULL\n)\n\n\n\n===Additional Context \n\nThis is a simulated credit card transaction dataset containing legitimate and fraud transactions from the duration 1st Jan 2019 - 31st Dec 2020. It covers credit cards of 1000 customers doing transactions with a pool of 800 merchants.\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is PostgreSQL-compliant and executable, and free of syntax errors. \n'}, {'role': 'user', 'content': 'What is the monthly fraud rate over the last two years?'}, {'role': 'assistant', 'content': "\n            WITH bounds AS (\n                SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt\n                FROM public.fraud_data\n            )\n            SELECT date_trunc('month', trans_date_trans_time)::date AS month,\n                COUNT(*) AS n_tx,\n                SUM((is_fraud)::int) AS fraud_tx,\n                AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate\n            FROM public.fraud_data f\n            JOIN bounds b ON f.trans_date_trans_time >= b.start_dt\n            GROUP BY 1\n            ORDER BY 1;\n        "}, {'role': 'user', 'content': 'What is the daily fraud rate over the last two years?'}, {'role': 'assistant', 'content': "\n            WITH bounds AS (\n                SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt\n                FROM public.fraud_data\n            )\n            SELECT date_trunc('day', trans_date_trans_time)::date AS day,\n                COUNT(*) AS n_tx,\n                AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate\n            FROM public.fraud_data f\n            JOIN bounds b ON f.trans_date_trans_time >= b.start_dt\n            GROUP BY 1\n            ORDER BY 1;\n        "}, {'role': 'user', 'content': 'What is the overall fraud rate?'}, {'role': 'assistant', 'content': '\n            SELECT AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate\n            FROM public.fraud_data;\n        '}, {'role': 'user', 'content': 'Which merchant categories have the highest fraud rate?'}, {'role': 'assistant', 'content': '\n            SELECT category,\n                   COUNT(*) AS n_tx,\n                   AVG((is_fraud)::int) AS fraud_rate\n            FROM public.fraud_data\n            GROUP BY category\n            HAVING COUNT(*) >= 1000\n            ORDER BY fraud_rate DESC\n            LIMIT 20;\n        '}, {'role': 'user', 'content': 'Which merchants have the highest number of fraudulent transactions?'}, {'role': 'assistant', 'content': '\n            SELECT merchant,\n                   COUNT(*) AS n_tx,\n                   SUM((is_fraud)::int) AS fraud_tx,\n                   (SUM((is_fraud)::int)::float / COUNT(*)) AS fraud_rate\n            FROM public.fraud_data\n            GROUP BY merchant\n            HAVING COUNT(*) >= 100\n            ORDER BY fraud_tx DESC\n            LIMIT 20;\n        '}, {'role': 'user', 'content': 'What is the monthly fraud rate over the last two years?'}]
LLM Response: ```sql
WITH bounds AS (
    SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt
    FROM public.fraud_data
), monthly_rates AS (
    SELECT date_trunc('month', trans_date_trans_time)::date AS month,
           COUNT(*) AS n_tx,
           SUM((is_fraud)::int) AS fraud_tx,
           AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate
    FROM public.fraud_data f
    JOIN bounds b ON f.trans_date_trans_time >= b.start_dt
    GROUP BY 1
)
SELECT *
FROM monthly_rates
ORDER BY 1;
```
Extracted SQL: WITH bounds AS (
    SELECT (MAX(trans_date_trans_time) - INTERVAL '2 years') AS start_dt
    FROM public.fraud_data
), monthly_rates AS (
    SELECT date_trunc('month', trans_date_trans_time)::date AS month,
           COUNT(*) AS n_tx,
           SUM((is_fraud)::int) AS fraud_tx,
           AVG((is_fraud)::int)::numeric(10,4) AS fraud_rate
    FROM public.fraud_data f
    JOIN bounds b ON f.trans_date_trans_time >= b.start_dt
    GROUP BY 1
)
SELECT *
FROM monthly_rates
ORDER BY 1;